name: Test by Dogfood

on:
  workflow_dispatch:
    inputs:
      flags:
        description: "flags forwared to forge +release"
        default: ""
        type: string
  workflow_call:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        nim-version: [ "2.0.16", "stable"]
        zig-version: [ "0.14.1", "latest"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}

      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}

      - name: Update nimble
        run: |
          nimble install "nimble@0.20.1"
          nimble --version

      - name: Bootstrap with nimble
        run: |
          nimble install -Y

      - name: simple test module that relies on a macos framework
        run: forge +release --verbose --bin tests/random.nim

      - name: cross compile forge
        run: |
          nimble setup -l
          forge +release --verbose ${{ github.event.inputs.flags }}

      - uses: actions/checkout@v5
        with:
          repository: nim-lang/nimble
          path: nimble-repo
          submodules: recursive
          ref: v0.20.1

      - name: cross-compile nimble
        working-directory: nimble-repo
        run: forge +release --verbose --config-file ../.forge.usu

      # I think nimscript gorgeEx isn't using powershell so paths matter
      - name: generate .forge.nims
        if: matrix.os == 'windows-latest'
        run: forge +nims --path > .forge.nims

      - name: generate .forge.nims
        if: matrix.os != 'windows-latest'
        run: forge +nims > .forge.nims

      - name: build using .forge.nims
        run: nim c -d:forge --os:MacOSX --cpu:arm64 --outdir:bin src/forge.nim


